<%provide(:title, @product_sample.title)%>
<% meta :description => trim_meta_description(@product_sample.description),
        :keywords => @product_sample.title + ", Handmade Bullion Crests, Heraldry, Emblems, Family Crests, Coat of Arms, Church Embroidery, Christmas Collection, Patches, Clan Crests, Navy Badges, Military Blazer Badges, Masonic Supplies, Uniform Accessories, Flags, Sashes, WW II Items, Bands Uniform"
%>
<% breadcrumb :sample, @product_sample %>
<!-- p>
  <b>Category:</b>
  <%= @product_sample.product_id %>
</p -->

<h1><%= @product_sample.title %></h1>
<hr/>

<p>
  <%= @product_sample.description %>
</p>

<% if !(@product_sample.size.nil? || @product_sample.size == "") %>
<p>
  <b>Size:</b>
  <%= @product_sample.size %>
</p>		
<% end %>
<p>
  <b>Price:</b>
  Please see <%= link_to "Pricing", pricing_url%>
  <%#= @product_sample.price %>
</p>
<div id="imagesDiv">
	<p align="left">		          
    Please submit a <strong><%= link_to "Free Quote", newquote_url%></strong> with your sample image or email us at <a href="mailto:info@emblemembroiders.com">info@emblemembroiders.com</a>.      
		<br />			          
    Please see all samples for <strong><%= link_to @product_sample.product.title, samples_path(@product_sample.product)%></strong>.
  </p>		          
	
<p>		  
  <%= image_tag @product_sample.image.url, :class => "img-polaroid"%>
  <% if !@next_sample.nil? %>		          	
  	<%= link_to '&rsaquo;'.html_safe, sample_url(@next_sample.product, @next_sample), {:id => "next", :title => @next_sample.title, :class => "right carousel-control"} %>		          
  <% end %>
  <% if !@previous_sample.nil? %>
  	<%= link_to '&lsaquo;'.html_safe, sample_url(@previous_sample.product, @previous_sample), {:id => "prev", :title => @previous_sample.title, :class => "left carousel-control"} %>		          
  <% end %>		  			
</p>
</div>
<!-- If Admin then show below buttons -->
<% if !session[:admin].nil? && session[:admin] == 'true' %>
	<%= link_to 'Edit', edit_product_sample_path(@product_sample), :class => "btn btn-info" %> |
	<%= link_to 'Back', product_samples_path, :class => "btn btn-inverse" %>
<% end %>
