<%provide(:title, @product.title)%>
<% meta :description => @product.description,
        :keywords => @product.title
%>
<% breadcrumb :samples, @product %>
<ul class="thumbnails">
<% @product_samples.each do |product_sample| %>
	
	  <li class="span3">
	  	<div class="thumbnail">	  		
	      <%= link_to image_tag(product_sample.image.url(:thumb)), sample_url(product_sample), {:remote => true, :class => 'thumbnail thumbnailcustom', 'data-toggle' => 'modal', 'data-target' => "#myModal", 'data-backdrop' => true, 'data-keyboard' => true} %>	      
		    <div class="caption">
          <h5><%= product_sample.title %></h5>
          <p>Size: <%= product_sample.size %></p>
    	    <p>Price: <%= product_sample.price %></p>
          <p align="center">
            <!-- a href="#myModal<%=product_sample.id.to_s%>" class="btn btn-inverse btn-block" data-toggle="modal">View More information</a -->
            
            <%= link_to "View Details", sample_url(product_sample), {:remote => true, :class => "btn btn-inverse btn-block", 'data-toggle' => 'modal', 'data-target' => "#myModal", 'data-backdrop' => true, 'data-keyboard' => true} %>
          </p>
        </div>
	    </div>
	  </li>	
<% end %>
</ul>
<!-- Modal -->
<div id="myModal" class="modal hide fade mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <!-- div class="modal-footer">				  	
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div -->
</div>		
<%= will_paginate @product_samples %>
