<!DOCTYPE html>
<html lang="en">
<head>  
  <title><%= full_title(yield(:title)) %></title>
  <%= metamagic %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msvalidate.01" content="E0C1DDD47A96F58796607DE44EEA77F9" />
  <meta name="p:domain_verify" content="8aa4cd2128aee95da1243756d501d553"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42604158-1', 'emblemembroiders.com');
  ga('send', 'pageview');

	</script>    
</head>
<body>
	
	<div class="container">
		<!-- a href="https://plus.google.com/105667092737307660897" rel="publisher">Google+</a -->
		<div class="row">
			<div class="span12">
				<%= render 'layouts/navigation'%>
				<%= render 'layouts/carousel' if (params['controller'] == 'home' && (params['action'] == 'index' || params['action'] == 'contactus' || params['action'] == 'routing_error' )) %>
			</div>
		</div>
		
		<div class="row">
			<div class="span3">
				<%= render 'layouts/sidebar' %>
			</div>
			<div class="span9">
				<div style="background-color: #F5F5F5; border-radius: 1px">
					<div id="breadcrumb">
				    <%= breadcrumbs :pretext => "Site Navigation:",
				                   :separator => "&rsaquo;",
				                   :autoroot => true,
				                   :show_root_alone => false,
				                   :link_last => false,
				                   :semantic => true	                    
				 		%>
					</div>
				</div>
				<%= render 'layouts/messages' %>
				<%= yield %>						
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<%= render 'layouts/footer'%>
			</div>
		</div>
	</div>

</body>
</html>
